body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    font-size: 2.5rem;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:chocolate;
    font-size: 1.5rem;
    line-height: 2rem;
}
#title{
    background-color: tomato;
    color: whitesmoke;
    

}

.container-fluid{
    padding: 3% 15%;
}

.navbar{
    text-align: right;
    font-size: 1rem;
    padding-bottom: 2.5rem;
    font-weight: bold;
}
.navbar-brand{
    font-family: 'ubuntu';
    font-size: 3rem;
    font-weight: bold;
}

.nav-item{
    padding:0 18px;
}



.downloadbtn{
    margin: 2% 3% 3% 0;
}
.fa-google-play{
    width: auto;
    padding-right: 5px;
}

.fa-apple{
    padding-right: 10px;
}

.title-img{
    margin-top: 5%;
    display: flexbox;
    width: 70%;
    height: 90%;
    transform: rotate(20deg);
    
}

#features{
    text-align: center;
    background-color:aqua;
    padding:5% 0 2% 0;
}
.ft-p{
    color: #8f8f8f;
}
.features-img{
    color: salmon;
}